<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>
  <form action="/signup" method="POST">

  <label for="name">UserName</label>
  <input type="text" id="username" name="username">
  <span id="usernameError">{{ .Errors.usernameError }}</span>

  <label for="email">Email</label>
  <input type="text" id="email" name="email">
  <span id="emailError">{{ .Errors.emailError }}</span>

  <label for="pass">PassWord</label>
  <input type="password" id="pass" name="pass">

  <label for="c_pass">Confirm Pass</label>
  <input type="password" id="c_pass" name="c_pass">
  <span id="confirmPasswordError">{{ .Errors.confirmPasswordError }}</span>

  <input type="submit" value="Sign Up">
  </form>
</body>
</html>